@font-face {
  font-family: "Okra-Regular";
  src: url("./../fonts/Okra-Regular.ttf");
}

@font-face {
  font-family: "Okra-Medium";
  src: url("./../fonts/Okra-Medium.ttf");
}

@font-face {
  font-family: "Okra-Light";
  src: url("./../fonts/Okra-Light.ttf");
}

@font-face {
  font-family: "Okra-SemiBold";
  src: url("./../fonts/Okra-SemiBold.ttf");
}

@font-face {
  font-family: "Okra-Bold";
  src: url("./../fonts/Okra-Bold.ttf");
}

@font-face {
  font-family: "Okra-ExtraBold";
  src: url("./../fonts/Okra-ExtraBold.ttf");
}
