// Screen Sizes
$xs-screen: 420px;
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

$container-max-screen: 1200px;

// Colors

// green
$pri-green: #50B547;
$sec-green: #28A745;
$light-green: #E7F5EA;
$sushi-green: #8ADC82;

// link color
$pri-orange: #ff7900;
$sec-orange: #ff9a3f;

$red: #f53a3a;

$pri-blue: #3f7aff;
$sec-blue: #41a0bd;

$pri-yellow: #FCEEC0;
$sec-yellow: #DC9D09;

$pri-black: #1C1C1C;

$gray-wrap: #F8F8F8;

// gray
$dark-gray: #727272;
$med-gray: #9d9d9d;
$light-gray: #e2e2e2;
$lightest-gray: #f2f2f2;
$gray-5: #555;
$shadow-gray: #c9c9c9;
$gray-background: #f9f9f9;

// red
$pri-red: #EC4654;


$sushi-gray: #CFCFCF;
$sushi-gray-light: #696969;
$sushi-gray-med: #B5B5B5;
$sushi-gray-dark: #1C1C1C;
$sushi-gray-border: #E8E8E8;
$sushi-green-highlight: #01B460;
$sushi-blue: #DDECFD;
$sushi-blue-dark: #0366D6;

$filter-btn-gray: #F4F4F4;

$blue-bg: #E4EEFA;
$blue-color: #2781E7;

$red-smoke: #FBF6F7;

$light-counter-bg: #F5FAF6;

$info-color: #119199;
$info-bg: #E5F3F3;

$red-opaque: rgba(226, 55, 68, 0.02);